
@mixin margin-generator($sizeLabel, $px) {
	.margin-#{$sizeLabel} {
		margin: $px;
	}
	.margin-#{$sizeLabel}-left {
		margin-left: $px;
	}
	.margin-#{$sizeLabel}-right {
		margin-right: $px;
	}
	.margin-#{$sizeLabel}-top {
		margin-top: $px;
	}
	.margin-#{$sizeLabel}-bottom {
		margin-bottom: $px;
	}
}

@include margin-generator('xs', $xs);
@include margin-generator('sm', $sm);
@include margin-generator('md', $md);
@include margin-generator('lg', $lg);
@include margin-generator('xl', $xl);
@include margin-generator('off', 0 !important);
