
@mixin text-size($sizeLabel, $px) {
	.text-#{$sizeLabel} {
		font-size: $px;
		line-height : $px+8;
	}
}

@mixin text-faded($amount) {
	.text-faded-#{$amount * 100} {
		color : rgba(0,0,0,$amount);
	}
	.text-faded-inverse-#{$amount * 100} {
		color : rgba(255,255,255,$amount);
	}
}
.text-faded {
	color : rgba(0,0,0,.3);
}
.text-faded-inverse {
	color : rgba(255,255,255,.3);
}

@include text-size('xxs', 7px);
@include text-size('xs', 10px);
@include text-size('sm', 12px);
@include text-size('md', 16px);
@include text-size('lg', 26px);
@include text-size('xl', 40px);
@include text-size('xxl',60px);
@include text-size('xxxl',90px);

@media screen and (max-width: 768px) {
	@include text-size('xs-xxs', 7px);
	@include text-size('xs-xs', 10px);
	@include text-size('xs-sm', 12px);
	@include text-size('xs-md', 14px);
	@include text-size('xs-lg', 18px);
	@include text-size('xs-xl', 20px);
	@include text-size('xs-xxl',40px);
	@include text-size('xs-xxxl',60px);
}

@include text-faded(.9);
@include text-faded(.8);
@include text-faded(.7);
@include text-faded(.6);
@include text-faded(.5);
@include text-faded(.4);
@include text-faded(.3);
@include text-faded(.2);
@include text-faded(.1);

.text-bold {
	font-weight:bold;
}
.text-thin {
	font-weight:100;
}
